.about-container {
  display: flex;
  flex-direction: column;
  width: calc(5 / 7 * 100%);
  justify-content: center;
  margin-left: calc(1 / 7 * 100%);
  align-items: flex-start;
  text-align: left;
}

.about-container p {
  font-size: 18px;
  margin: 8px 0 8px 0;
}

.about-container ul {
  font-size: 18px;
}

.about-container h4 {
  font-size: 18px;
}

.CV {
  margin-bottom: 20px;
  box-shadow: 0 3px 10px #ccc;
}

.CV canvas {
  width: 100%;
}

.CV-container {
  height: 100%;
  width: 250px;
  margin: auto;
  transition: all 0.3s ease;
}

.CV-container:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.CV-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.download-icon-container {
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 0.5rem;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 10px #ccc;
}

.download-icon-container svg {
  color: rgb(48, 48, 48);
}
