.about-container {
  display: flex;
  flex-direction: column;
  width: calc(5 / 7 * 100%);
  justify-content: center;
  margin-left: calc(1 / 7 * 100%);
  align-items: flex-start;
  text-align: left;
}

.about-container p {
  font-size: 18px;
  margin: 8px 0 8px 0;
}

.about-container ul {
  font-size: 18px;
}

.about-container h4 {
  font-size: 18px;
}

/* .about-container h2 {
  margin-left: calc(1 / 7 * 100%);
} */
