.contact-component {
  height: 100%;
  width: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.contact-component h2 {
  margin: 10px auto;
}

.contact-section {
  background: black;
  width: calc((5 / 7 * 100%) + 1.25rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.contact-section-head {
  background: white;
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-infill-section {
  background: white;
  height: 100%;
  width: calc(2 / 7 * 100%);
}

.contact-form {
  width: 100%;
  height: 65%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 0.5rem;
}

.contact-id {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
}

.input-name,
.input-email {
  flex-grow: 1;
  font-size: 16px;
  height: auto;
  padding: 8px;
  background: lightgray;
  border: none;
  transition: all 0.3s ease;
}

.contact-form textarea {
  width: calc(100% - 16px);
  height: 100%;
  resize: none;
  font-size: 16px;
  padding: 8px;
  background: lightgray;
  border: none;
  transition: all 0.3s ease;
}

.contact-button-ribbon {
  width: 100%;
  background: black;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.contact-button-infill {
  width: 80%;
  background: repeating-linear-gradient(
    45deg,
    white,
    white 0.5rem,
    black 0.5rem,
    black 1rem
  );
}

.contact-send-button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 8px 8px;
  width: 20%;
  border: none;
  background: rgb(90, 90, 90);
  color: white;
  align-self: center;
  transition: all 0.3s ease;
}

.contact-send-button:hover {
  background: rgba(239, 68, 68, 1);
  cursor: pointer;
}

.input-name:focus,
.input-email:focus,
.contact-form textarea:focus {
  background: white;
  outline: none;
}

.contact-header-mail {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
