.tooltip-container {
  position: relative;
}

.tooltip-box {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 6px;
  right: calc(100% + 15px);
  display: none;
  z-index: 9999;
}

.tooltip-box.visible {
  display: block;
  font-size: 16px;
}
