.App {
  text-align: center;
}

.header-container {
  margin: auto;
  background-color: rgba(17, 24, 39, 1);
  height: 100vh;
  width: 100vw;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(18, minmax(0, 1fr));
  grid-template-rows: repeat(12, minmax(0, 1fr));
  height: 100%;
  width: 100%;
  gap: 0.5rem;
}

.block-1 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: rgba(239, 68, 68, 1);
}

.block-2 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 13;
  background-color: white;
}

.block-3 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 13;
  grid-column-end: 19;
  background-color: white;
}

.block-4 {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: white;
}

.block-5 {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 11;
  background-color: rgba(59, 130, 246, 1);
}
