.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.header-container {
  display: flex;
  margin: auto;
  background-color: black;
  height: calc(1 * (100vh / 12));
  width: 100vw;
  padding-bottom: 0.5rem;
  gap: 0.5rem;
}

.footer-container {
  display: flex;
  margin: auto;
  background-color: black;
  height: calc(1.5 * (100vh / 12));
  width: 100vw;
  gap: 0.5rem;
  flex-wrap: nowrap;
}

.topblock-1 {
  width: calc(30% - 0.5rem);
  background-color: rgba(251, 191, 36, 1);
}

.topblock-2 h3 {
  align-items: center;
  font-size: 24px;
  margin: 16px 0 16px 0;
}

.topblock-2 {
  width: 70%;
  background-color: white;
}

.block-1 {
  width: calc(20% - 0.5rem);
  background-color: rgba(239, 68, 68, 1);
}

.block-2 {
  width: 50%;
  background-color: rgba(59, 130, 246, 1);
}

.block-3 {
  width: calc(30% - 0.5rem);
  background-color: rgba(251, 191, 36, 1);
}

.main-navbar {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.main-navbar-button {
  background-color: rgba(147, 197, 253, 1);
  border: 2px solid black;
  border-radius: 50%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 30px;
  color: black;
  text-decoration: none;
  text-align: center;
  height: 50px;
  width: 50px;
}

.main-navbar-button:hover {
  background-color: rgba(29, 78, 216, 1);
  color: white;
  border: 2px solid white;
  transition: all 0.3s ease;
}

.home-button svg {
  height: 40px;
  width: 40px;
  background-color: rgba(252, 165, 165, 1);
  border: 2px solid rgba(185, 28, 28, 1);
  border-radius: 50%;
  color: rgba(185, 28, 28, 1);
  padding: 0.25rem;
  margin-top: 12px;
  margin-bottom: auto;
}

.home-button svg:hover {
  border: 2px solid white;
  color: white;
  background-color: rgba(185, 28, 28, 1);
  transition: all 0.3s ease;
}

.collapse {
  background: white;
  width: calc(10% - 0.5rem);
  color: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
}

.show {
  width: 70%;
  cursor: auto;
}

.collapse-heading {
  transform-origin: bottom center;
  margin-right: 6em;
  transform: rotate(90deg);
  transition: all 0.5s ease;
  font-weight: 700;
}

.collapse-heading-show {
  transform: rotate(90deg);
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.collapse-heading-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
}

.collapse-heading p {
  letter-spacing: 1.2px;
  font-weight: 600;
  font-size: 24px;
}

.collapse-content {
  overflow: hidden;
  height: 100%;
  transition: all 600ms ease-in-out;
}

.collapse-content-container {
  width: 100%;
  max-width: 480px;
  margin: auto;
  height: 100%;
  color: black;
}

.sliders {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5rem;
  background-color: black;
  padding-bottom: 0.5rem;
  height: calc(9.5 * (100vh / 12));
}
